!!! XML
%provider_image{:id => provider_image.id, :href => provider_image_url(provider_image.id) }
  %provider= provider_image.provider
  %external_image_id= provider_image.external_image_id
  %snapshot= provider_image.snapshot
  %status= provider_image.status
  %status_detail= provider_image.status_detail
  %progress= provider_image.progress
  - if provider_image.target_image
    = render :partial => 'tim/target_images/target_image_minimal', :locals => {:target_image => provider_image.target_image}
  - if controller.template_exists?("custom", "tim/provider_images", true)
    = render :partial => 'tim/provider_images/custom', :locals => {:provider_image => provider_image}