!!! XML
%target_image{:id => target_image.id, :href => target_image_url(target_image.id) }
  %target= target_image.target
  %status= target_image.status
  %status_detail= target_image.status_detail
  %progress= target_image.progress
  - if target_image.image_version
    = render :partial => 'image_management/image_versions/image_version_minimal', :locals => {:image_version => target_image.image_version}
  %provider_images
